"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d3d8c0df-8074-4b60-8b47-6caf70842013"
  "atom-ternjs":
    caseInsensitive: false
    displayAboveSnippets: true
    documentation: false
    excludeLowerPriorityProviders: true
    guess: false
    inlineFnCompletion: false
    lint: false
    origins: false
    urls: false
    useSnippets: false
  "autocomplete-php": {}
  "autocomplete-plus":
    autoActivationDelay: 1000
    consumeSuffix: false
    enableAutoConfirmSingleSuggestion: false
    enableBuiltinProvider: false
    includeCompletionsFromAllBuffers: false
    strictMatching: true
    useLocalityBonus: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    audioBeep: false
    disabledPackages: [
      "spell-check"
      "linter-jscs"
      "linter-phpcs"
      "pinned-tabs"
      "ember-cli-helper"
      "jshint"
    ]
    ignoredNames: [
      ".git"
      ".bundle"
      ".vagrant"
      ".DS_Store"
      "tmp"
      "bower_components"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "aligner"
      "markdown-preview"
      "git-time-machine"
      "blame"
    ]
    projectHome: "~/Sites"
  "custom-title":
    template: "<%= fileName %><% if (fileInProject) { %> — <%= projectName %> ❄ <%= relativeFilePath %><% } %> — Atom"
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    lineHeight: 1.75
    showIndentGuide: true
    showInvisibles: true
  "ember-cli-helper": {}
  "ember-tabs": {}
  "exception-reporting":
    userId: "32a1cf4c-e895-e70d-1592-704d5505050b"
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "git-diff": {}
  "highlight-line":
    enableUnderline: true
  "highlight-selected":
    lightTheme: true
  jshint:
    validateOnlyOnSave: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    errorPanelHeight: 91
    lintOnFly: false
    showErrorTabProject: false
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-phpcs":
    executablePath: "/usr/local/bin/phpcs"
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    markerType: "dot"
  "pinned-tabs":
    animation: true
  react:
    disableAutoClose: true
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  "symbols-list":
    startUp: false
  "symbols-tree-view":
    scrollAnimation: false
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
    usePreviewTabs: true
  "todo-show":
    openListInDirection: "down"
    saveOutputAs: "Table"
    sortBy: "Path"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".apiary.source":
  editor:
    preferredLineLength: 80
".basic.html.text":
  editor:
    preferredLineLength: 80
".coffee.jsx.source":
  editor:
    preferredLineLength: 80
".ini.source":
  editor:
    preferredLineLength: 80
".js.jsx.source":
  editor:
    preferredLineLength: 80
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 80
".js.regexp.source":
  editor:
    preferredLineLength: 80
".js.source":
  editor:
    preferredLineLength: 80
".json.source":
  editor:
    preferredLineLength: 80
