packages: [
  "aligner"
  "apiary-highlighter"
  "atom-beautify"
  "atom-symfony2"
  "atom-ternjs"
  "auto-detect-indentation"
  "autocomplete-php"
  "base16-ocean-dark-syntax-theme"
  "blame"
  "custom-title"
  "docblockr"
  "editorconfig"
  "ember-cli-helper"
  "ember-snippets"
  "es6-javascript"
  "file-icons"
  "filesize"
  "font-viewer"
  "git-time-machine"
  "highlight-selected"
  "jshint"
  "linter"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "linter-json-lint"
  "linter-phpcs"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "pretty-json"
  "react"
  "Stylus"
  "todo-show"
]
