"*":
  "atom-ternjs":
    caseInsensitive: false
    displayAboveSnippets: true
    documentation: false
    excludeLowerPriorityProviders: true
    guess: false
    inlineFnCompletion: false
    lint: false
    origins: false
    urls: false
    useSnippets: false
  "autocomplete-php": {}
  "autocomplete-plus":
    enableBuiltinProvider: false
    includeCompletionsFromAllBuffers: false
    strictMatching: true
    useLocalityBonus: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    audioBeep: false
    disabledPackages: [
      "jshint"
      "autocomplete-snippets"
      "spell-check"
      "linter-jscs"
      "linter-jshint"
      "linter-phpcs"
      "pinned-tabs"
    ]
    ignoredNames: [
      ".git"
      ".bundle"
      ".vagrant"
      ".DS_Store"
      "dist"
      "tmp"
      "bower_components"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "aligner"
    ]
    projectHome: "~/Sites"
  "custom-title":
    template: "<%= fileName %><% if (fileInProject) { %> — <%= projectName %> ❄ <%= relativeFilePath %><% } %> — Atom"
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "ember-cli-helper": {}
  "exception-reporting":
    userId: "32a1cf4c-e895-e70d-1592-704d5505050b"
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace": {}
  "git-diff": {}
  "highlight-selected":
    lightTheme: true
  jshint:
    validateOnlyOnSave: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    errorPanelHeight: 91
    lintOnFly: false
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "/usr/local/bin/jshint"
  "linter-phpcs":
    executablePath: "/usr/local/bin/phpcs"
  "markdown-preview":
    useGitHubStyle: true
  "pinned-tabs":
    animation: true
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".apiary.source":
  editor:
    preferredLineLength: 120
".json.source":
  editor:
    preferredLineLength: 120
