packages: [
  "aligner"
  "apiary-highlighter"
  "atom-symfony2"
  "atom-ternjs"
  "auto-detect-indentation"
  "autocomplete-php"
  "ember-cli-helper"
  "es6-javascript"
  "filesize"
  "highlight-selected"
  "jshint"
  "linter"
  "linter-jscs"
  "linter-jshint"
  "linter-phpcs"
  "merge-conflicts"
  "package-sync"
  "pretty-json"
  "Stylus"
]
